*~
*.swp
build/*.o
build/*.a
Makefile.in
Makefile
m4
build/dss
build/dsstests
configure_aux
configure
config.h*
aclocal.m4
autom4te.cache
config.log
libtool
stamp-h1
.deps
config.status
build_info.h
webservices/dss.nsmap
webservices/dss.wsdl
webservices/dss.xsd
webservices/soapServer.cpp
webservices/soapStub.h
webservices/soapdssObject.h
webservices/soapH.h
webservices/soapC.cpp

*.pb.*
