<?xml version="1.0" encoding="utf-8"?>
<!--
  Template for local config.xml.
  Copy to your dss data folder as config.xml and add your local modifications.
-->
<properties version="1">
  <property name="config">

    <!-- ds485d -->
    <!--
    <property name="subsystems/DSBusInterface/connectionURI" type="string">
      <value>tcp://localhost:8440</value>
    </property>
    -->

    <!-- metering configuration -->
    <!--
    <property name="subsystems/Metering/enabled" type="boolean">
      <value>false</value>
    </property>
    <property name="subsystems/Metering/rrdDaemonAddress" type="string">
      <value>unix:/var/run/rrdcached.sock</value>
    </property>
    -->

    <!-- vdcDbFetcher -->
    <!--
    <property name="vdcDbFetcher">
      <property name="enabled" type="boolean">
        <value >true</value>
      </property>
      <property name="periodSeconds" type="integer">
        <value >86400</value>
      </property>
      <property name="url" type="string">
        <value>http://db.aizo.net/vdc-db.php</value>
      </property>
    </property>
    -->

    <!-- debug -->
    <!--
    <property name="debug/storeInvalidXML" type="boolean">
      <value>false</value>
    </property>
    -->

  </property>
</properties>
